<div data-control="toolbar">
    <a href="<?= Backend::url('entopancore/buildform/forms/create') ?>"
       class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
</div>
