<div data-control="toolbar" data-disposable="">

    <a data-control="popup" data-size="huge" data-handler="onRelationButtonCreate" href="javascript:"
       class="btn btn-sm btn-primary oc-icon-code">
        <?php echo e(trans('backend::lang.relation.add')) ?>
    </a>

    <button class="btn btn-sm btn-default oc-icon-trash-o control-disabled" onclick="$(this).data('request-data', {
            checked: $('#Forms-update-RelationController-forms_fields-view .control-list').listWidget('getChecked')
        })" disabled="" data-request="onRelationButtonDelete"
            data-request-confirm="<?php echo e(trans('backend::lang.relation.delete_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger="#Forms-update-RelationController-forms_fields-view .control-list input[type=checkbox]"
            data-trigger-condition="checked" data-stripe-load-indicator="">
        <?php echo e(trans('backend::lang.relation.delete')) ?>
    </button>

    <?php if($this->action == 'update') : ?>
    <a href="<?php echo Backend::url('entopancore/buildform/forms/reorder/' . $formModel->id) ?>"
       class="btn btn-sm btn-default oc-icon-bars">
        <?php echo e(trans('backend::lang.reorder.default_title')) ?>
    </a>
    <?php endif; ?>

</div>