<div data-control="toolbar">
    <a href="<?php echo Backend::url('entopancore/buildform/forms/update/' . $formId) ?>"
       class="btn btn-primary oc-icon-caret-left"><?php echo e(trans('entopancore.buildform::lang.return')) ?></a>
</div>
