<table class="table">
    <?php foreach($formModel->forms_fields as $fields) { ?>
    <tr>
        <th><?php echo $fields->title; ?></th>
        <td><?php echo $fields->pivot->value; ?></td>
    </tr>
    <?php } ?>
</table>