<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('entopancore/buildform/requests') ?>">Requests</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?php Block::put('form-contents') ?>

<div class="layout-row min-size">
    <?= $this->formRenderOutsideFields() ?>
</div>
<div class="layout-row">
    <?= $this->formRenderPrimaryTabs() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-primary">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-default">
            <?= e(trans('backend::lang.form.save_and_close')) ?>
        </button>
        <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
        </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('entopancore/buildform/requests') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
    </div>
</div>
<?php Block::endPut() ?>

<?php Block::put('form-sidebar') ?>
<div class=""><?= $this->formRenderSecondaryTabs() ?></div>
<?php Block::endPut() ?>

<?php Block::put('body') ?>
<?= Form::open(['class'=>'layout stretch']) ?>
<?= $this->makeLayout('form-with-sidebar') ?>
<?= Form::close() ?>
<?php Block::endPut() ?>

<?php else: ?>
<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
<p><a href="<?= Backend::url('entopancore/buildform/requests') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>