<div class="form-group">

    {% if is_visible_label %}
    <label class="btn-block" for="{{ name }}">{{ label }}</label>
    {% endif %}

    {% set values = default|split('|') %}
    {% for option in options %}

    <label class="checkbox-inline">
        <input
                {{ values[loop.index0] == option.key ? 'checked' : '' }}
        type="checkbox"
        name="{{ name }}[]"
        class="{{ class }}"
        id="{{ option.label }}"
        value="{{ option.key }}"
        {{ custom_attributes|raw }}
        >
        {{ option.label }}
    </label>

    {% endfor %}
    <div data-validate-for="{{name}}"></div>
</div>