<div class="checkbox">
    <label>
        <input
                {{ default ? 'checked' : '' }}
        name="{{ name }}"
        class="{{ class }}"
        value="1"
        type="checkbox"
        {{ custom_attributes|raw }}
        >
        {{ label }}
    </label>
    <div data-validate-for="{{name}}"></div>
</div>