<div class="{{ class }}">

    {% if is_visible_label %}
    <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    <select class="{{ class_input }}" name="{{ name }}" {{ custom_attributes|raw }}>

        {% if placeholder %}

        <option disabled selected>{{ placeholder }}</option>

        {% endif %}

        {% for option in options %}

        <option value="{{ option.key }}" {{ option.key == default ? 'selected' : '' }}>{{ option.label }}</option>

        {% endfor %}

    </select>
    <div data-validate-for="{{name}}"></div>
</div>