<div class="form-group">

    {% if is_visible_label %}
    <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    <input
            type="number"
            name="{{ name }}"
            value="{{ default }}"
            class=" form-control"
            placeholder="{{ placeholder }}"
            {{ custom_attributes|raw }}
    >
    <div data-validate-for="{{name}}"></div>
</div>