<div class="form-group">


    {% if is_visible_label %}
    <label class="btn-block" for="{{ name }}">{{ label }}</label>
    {% endif %}
    {% for option in options %}

    <label class="radio-inline">
        <input
                {{ default== option.key ? 'checked' : '' }}
        type="radio"
        name="{{ name }}"
        class="{{ class }}"
        id="{{ option.label }}"
        value="{{ option.key }}"
        {{ custom_attributes|raw }}
        >
        {{ option.label }}
    </label>

    {% endfor %}
    <div data-validate-for="{{name}}"></div>
</div>