<div class="form-group radio-field">

    <p style="min-width: 200px;">{{ label }}</p>
    <label style="margin: 0px 0px 0px 10px;" for="radio_1"> 1 </label>
    <input {{ default== 1 ? 'checked' : '' }} class="{{ class }}" name="{{ name }}[ranking]" value="1" {{
    custom_attributes|raw
    }} type="radio" id="radio_1">
    <label style="margin: 0px 0px 0px 10px;" for="radio_2"> 2 </label>
    <input {{ default== 2 ? 'checked' : '' }} class="{{ class }}" name="{{ name }}[ranking]" value="2" {{
    custom_attributes|raw
    }} type="radio" id="radio_2">
    <label style="margin: 0px 0px 0px 10px;" for="radio_3"> 3 </label>
    <input {{ default== 3 ? 'checked' : '' }} class="{{ class }}" name="{{ name }}[ranking]" value="3" {{
    custom_attributes|raw
    }} type="radio" id="radio_3">
    <label style="margin: 0px 0px 0px 10px;" for="radio_4"> 4 </label>
    <input {{ default== 4 ? 'checked' : '' }} class="{{ class }}" name="{{ name }}[ranking]" value="4" {{
    custom_attributes|raw
    }} type="radio" id="radio_4">
    <label style="margin: 0px 0px 0px 10px;" for="radio_5"> 5 </label>
    <input {{ default== 5 ? 'checked' : '' }} class="{{ class }}" name="{{ name }}[ranking]" value="5" {{
    custom_attributes|raw
    }} type="radio" id="radio_5">

    {% if  options %}

    <select name="{{ name }}[select]" style="width: 150px;float:right" class="select">
        {% if placeholder %}

        <option value="">{{ placeholder }}</option>

        {% endif %}
        {% for option in options %}

        <option value="{{ option.key }}" {{ option.key== default_option ? 'selected' : '' }}>{{ option.label }}</option>

        {% endfor %}

    </select>
    {% endif %}
    <div data-validate-for="{{name}}"></div>
</div>