<div class="{{ class }}">
    {% if is_visible_label %}
    <label>{{ label }}</label>
    {% endif %}
    <fieldset class="rating">
        <input type="radio" value="5" id="star5" {{ default== 5 ? 'checked' : '' }}  name="{{ name }}" /><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" value="4" id="star4" {{ default== 4 ? 'checked' : '' }}  name="{{ name }}" /><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" value="3" id="star3" {{ default== 3 ? 'checked' : '' }}  name="{{ name }}" /><label for="star3" title="Meh">3 stars</label>
        <input type="radio" value="2" id="star2" {{ default== 2 ? 'checked' : '' }}  name="{{ name }}" /><label for="star2" title="Kinda bad">2 stars</label>
        <input type="radio" value="1" id="star1" {{ default== 1 ? 'checked' : '' }}  name="{{ name }}" /><label for="star1" title="Sucks big time">1 star</label>
    </fieldset>
    <div data-validate-for="{{name}}"></div>
</div>
<style>
    .rating {
        float:left;
    }
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:200%;
        line-height:1.2;
        color:#ddd;
        text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #f70;
        text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
    label
    {
        display: inline-block;
        width: 100%;
    }
</style>