<div class="{{ class }}">

    {% if is_visible_label %}
    <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    <input
            type="text"
            name="{{ name }}"
            value="{{ default }}"
            class=" {{ class_input }}"
            placeholder="{{ placeholder }}"
            {{ custom_attributes|raw }}
    >
    <div data-validate-for="{{name}}"></div>
</div>