<div class="{{ class }}">

    {% if is_visible_label %}
    <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    <textarea
            name="{{ name }}"
            class="{{ class_input }} form-control"
            placeholder="{{ placeholder }}"
            {{ custom_attributes|raw }}
    >{{ default }}</textarea>
    <div data-validate-for="{{name}}"></div>
</div>